.card {
    width: 500px;
    max-width: 90%; 
    max-height: 300px;
    background: #1D1D1D;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
 }
 .heading {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 30px;
 }
 .headingtext {
     font-size: 22px;
     font-weight: bold;
     margin-left: 10px;
 }